.content-section {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 4rem 2rem;
}

.section-content {

    max-width: 1000px;

    text-align: center;
}

.section-content h2 {

    font-size: 4rem;

    margin-bottom: 2rem;
}

.section-content p {

    font-size: 1.4rem;

    line-height: 1.8;

    max-width: 800px;

    margin: auto;
}

.section-content img {

    width: 300px;

    margin-bottom: 2rem;

    transition:
        transform
        .5s;
}

.section-content img:hover {

    transform:
        scale(1.1);
}